* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  /* overflow-x: hidden; */
  max-width: 100%;
}

body {
  font-family: "Kanit", sans-serif;
  background: #161a30;
  background: linear-gradient(
    180deg,
    #161a30 30%,
    #31304d 70%,
    #334d59 90%
  );
  color: white;
  max-width: 100%;
}

Nav {
  top: 0;
  position: fixed;
  display: flex;
  background: transparent;
  backdrop-filter: blur(60px);
  justify-content: space-around;
  color: #ffffffb6;
  width: 100%;
  height: 70px;
  align-items: center;
  z-index: 999;
}

nav h4 {
  letter-spacing: 3px;
  font-size: 30px;
  transition: 1s ease-out;
  cursor: pointer;
}

nav h4:hover {
  transform: scale(1.3);
  color: white;
}

nav ul {
  display: flex;
  list-style: none;
  width: 40%;
  justify-content: space-between;
}

nav ul li a {
  display: flex;
  color: #cacaca7f;
  text-decoration: none;
  font-size: 25px;
  transition: 0.5s ease-out;
}

nav ul li a:hover {
  color: white;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}

/* Hamburger Menu */
.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: -5px;
  top: -3px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.menu-toggle span {
  margin-left: 100px;
  display: block;
  width: 28px;
  height: 3px;
  background-color: white;
  border-radius: 3px;
  transition: all 0.5s;
}

/* Hamburger Menu Animation */
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  background-color: white;
  transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
  background-color: white;
  transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: scale(0);
}

/* line navbar */
.line {
  display: inline-block;
  position: relative;
  color: #ffd000;
  cursor: pointer;
  transition: 0.5s all ease;
}

.line:hover {
  color: azure;
  transition: 0.5s all ease;
}

.line::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  display: flex;
  left: 0;
  background-color: azure;
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}

.line:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Container home */
.container-home {
  padding-top: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pfp img {
  filter: drop-shadow(5px 5px 2px #000000);
  width: 550px;
}

.name h1 {
  text-shadow: 2px 2px 3px #585858;
  font-size: 50px;
  font-weight: 700;
  color: #8bf;
  text-align: left;
  margin: 1rem 0 1rem 2rem;
}

/* Typewriter effect 1 */
@keyframes typing {
  0.0000%,
  27.3488% {
    content: "";
  }
  1.1395%,
  26.2093% {
    content: "d";
  }
  2.2791%,
  25.0698% {
    content: "de";
  }
  3.4186%,
  23.9302% {
    content: "dev";
  }
  4.5581%,
  22.7907% {
    content: "deve";
  }
  5.6977%,
  21.6512% {
    content: "devel";
  }
  6.8372%,
  20.5116% {
    content: "develo";
  }
  7.9767%,
  19.3721% {
    content: "develop";
  }
  9.1163%,
  18.2326% {
    content: "develope";
  }
  10.2558%,
  17.0930% {
    content: "developer";
  }

  30.7674%,
  51.2791% {
    content: "";
  }
  31.9070%,
  50.1395% {
    content: "d";
  }
  33.0465%,
  49.0000% {
    content: "de";
  }
  34.1860%,
  47.8605% {
    content: "des";
  }
  35.3256%,
  46.7209% {
    content: "desi";
  }
  36.4651%,
  45.5814% {
    content: "desig";
  }
  38.6047%,
  44.4419% {
    content: "design";
  }
  39.6047%,
  43.4419% {
    content: "designe";
  }
  40.6047%,
  42.4419% {
    content: "designer";
  }

  54.6977%,
  85.2093% {
    content: "";
  }
  55.8372%,
  82.0698% {
    content: "a";
  }
  56.9767%,
  80.9302% {
    content: "an";
  }
  58.1163%,
  79.7907% {
    content: "ana";
  }
  59.2558%,
  77.6512% {
    content: "anak ";
  }
  60.3953%,
  76.5116% {
    content: "anak k";
  }
  61.5349%,
  75.3721% {
    content: "anak ko";
  }
  62.5349%,
  74.3721% {
    content: "anak kos";
  }
  63.5349%,
  72.3721% {
    content: "anak kosa";
  }
  64.5349%,
  70.3721% {
    content: "anak kosan";
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.typewriter::before {
  content: "";
  animation: typing 13.5s infinite;
}

.typewriter.nocaret::after {
  border-right: 0;
}

/* container about */
.container-about {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 300px;
  padding-bottom: 200px;
}

.content-about {
  width: 1200px;
}

.content-about h1 {
  text-shadow: 2px 2px 3px #585858;
  text-align: left;
}

.content-about hr {
  text-shadow: 2px 2px 3px #585858;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 50px;
  width: 40%;
  height: 3px;
}

.content-about p {
  text-shadow: 2px 2px 3px #585858;
  font-size: 18px;
  text-align: justify;
}

/* container skill */
.container-skill {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-top: 200px;
  padding-bottom: 200px;
}

.img-skill {
  position: absolute;
  z-index: -1;
  transform: scale(1);
  margin-top: 20%;
  margin-left: 950px;
}

.container-skill h1 {
  text-shadow: 2px 2px 3px #585858;
  text-align: right;
  padding-bottom: 20px;
}

.container-skill hr {
  background-color: white;
  margin-left: 60%;
  width: 40%;
  height: 3px;
}

.card-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 70px;
}

.box-skill {
  width: 200px;
  height: 200px;
  margin-top: 120px;
  background-color: #31304d;
  border-radius: 20%;
  
}


.card-box .box-skill:hover {
  transform: scale(1.5);
  transition: 0.5s all ease-in-out;
}

.card-box img {
  margin: 25px;
  width: 150px;
}

/* Container Education */
.container-box {
  height: 100%;
  display: flex;
  justify-content: center;
  padding-top: 150px;
  padding-bottom: 200px;
}

.content-resume {
  width: 1000px;
}

.container-box h1 {
  text-shadow: 2px 2px 3px #585858;
  text-align: left;
}

.container-box hr {
  text-shadow: 2px 2px 3px #585858;
  background-color: white;
  margin-top: 40px;
  width: 40%;
  height: 3px;
}

.resume-box {
  margin-top: 40px;
  width: 100%;
  height: 500px;
  border-radius: 50px;
  background: #e0e0e0;
  
}

.content-resume .resume-box:hover {
  transition: 0.5s ease-in-out;
  box-shadow: 10px 10px 50px #5a5a5a, -10px -10px 50px #ffffff;
}

.resume-box h1 {
  text-shadow: 2px 2px 3px #585858;
  font-size: 30px;
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 50px;
  color: #000000;
}

.resume-box .hr1 {
  background-color: #000000;
  margin-left: 120px;
  margin-top: -60px;
  width: 4px;
  height: 50px;
}

.resume-box .hr2 {
  background-color: #000000;
  margin-left: 120px;
  margin-top: -6px;
  width: 4px;
  height: 50px;
}

.resume-box span {
  margin-left: 99px;
  text-shadow: 2px 2px 3px #585858
}

.resume-box span p {
  text-shadow: 2px 2px 3px #585858;
  color: #6a6a6a;
  position: absolute;
  margin-left: 200px;
  margin-top: -50px;
}

.resume-box span h2 {
  text-shadow: 2px 2px 3px #585858;
  color: #000000;
  position: absolute;
  margin-left: 200px;
  margin-top: -20px;
}

/* container contact */
.container-cf {
  height: 100%;
  display: flex;
  justify-content: center;
  padding-top: 150px;
  padding-bottom: 200px;
}

.content-cf {
  width: 700px;
}

.container-cf h1 {
  text-shadow: 2px 2px 3px #585858;
  text-align: center;
  font-size: 30px;
}

.contact form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 40px;
  text-align: center;
}

form .input-box {
  display: flex;
  justify-content: space-between;
}

.input-box .input-field {
  width: 49%;
}

.field .item {
  width: 100%;
  padding: 18px;
  background: transparent;
  border: 2px solid #b6bbc4;
  outline: none;
  border-radius: 6px;
  font-size: 16px;
  color: #f0ece5;
  margin: 12px 0;
}

.field .item:focus {
  transition: 0.5s;
  z-index: 10;
  background-color: #ffffff5e;
}

.field .item::placeholder {
  color: #dadada71;
}

.field .error-txt {
  font-size: 15.5px;
  color: #ff5d5d;
  text-align: left;
  margin: 5px 0 10px;
  display: none;
}

form .textarea-field .item {
  resize: none;
}

form button {
  margin-top: 20px;
  padding: 12px 32px;
  background: cyan;
  border: none;
  outline: none;
  border-radius: 6px;
  box-shadow: 0 0 10px cyan;
  font-size: 16px;
  color: black;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s;
}

form button:hover {
  box-shadow: none;
}

/* Container footer */
footer {
  background-color: #334d59;
}

.container-footer {
  width: 100%;
  padding: 70px 30px 20px;
}

.socialicons {
  display: flex;
  justify-content: center;
}

.socialicons a {
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  background-color: white;
  border-radius: 50%;
}

.socialicons a i {
  font-size: 5vh;
  color: black;
  opacity: 0.9;
}

.socialicons a:hover {
  background-color: #111;
  transition: 0.5s;
  box-shadow: 0px 0px 20px #666666, 0px 0px 20px #ffffff;
}

.socialicons a i:hover {
  color: white;
  transition: 0.5s;
}

.footernav {
  margin: 30px 0;
}

.footernav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.footernav ul li a {
  text-decoration: none;
  color: white;
  margin: 20px;
  font-size: 1.5em;
  opacity: 0.5;
  transition: 0.5s;
}

.footernav ul li a:hover {
  opacity: 1;
}

.footer-bottom {
  background-color: #1f1e32;
  padding: 20px;
  text-align: center;
}

.footer-bottom p {
  color: white;
}

.designer {
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
}
